@charset "EUC-KR";


style > html {
	background-color: #ebdacf;
	overflow: hidden;
}

.menu_add{
	width: 1500px;
	height: 980px;
	transform: translatex(20%);
	display: inline-block;
	background-color: white;
	margin-top: -9px;
}

#menu_image{
		width: 240px;
		height: 300px;
		display: inline-block;
		margin-top: 200px;
		margin-left: 450px;
		text-align: center;

	
	}
	#menu_img{
		max-width: 100%;
		max-height: 100%;
		}
	#file_up{
		position: relative;
		margin-top:10px;
		margin-left: 460px;
	}
	#file_inf{
		position: absolute;
		margin-top: 197px;
		margin-left: 40px;
	}
	#file_add{
		position: relative;
		margin-left: 110px;
		width: 100px;
		height: 30px;
		border-radius: 10px;
		background-color: black;
		color: white;
		border: none;
		text-decoration: none;
	}
	h1 { letter-spacing: 5px;}
	
	