@charset "EUC-KR";
html{
	overflow-y:hidden;
	}
	
	.outer{
      width: 1885px;
      height:980px;
      display: inline-block;
      background-color: white;
      margin-top: -9px;

      
	}
	.menu{
		position: fixed;
		float: left;
		height: 100%;
	}
	.menu button{
		background-color: #decac5;
		border: 0px solid black;
		font-size: 14px;
	}
	.menu_mn{
		width: 250px;
		height: 110px;
		background-color: #decac5;
		padding-top: 20px;
		margin: 0 auto;
		border-top: 1px solid brown;
		border-bottom: 1px solid brown;
	}
	.cou_mn{
		width: 250px;
		height: 110px;
		background-color: #decac5;
		padding-top: 20px;
		margin: 0 auto;
		border-bottom: 1px solid brown;
	}
	.staff_mn{
		width: 250px;
		height: 110px;
		background-color: #decac5;
		padding-top: 20px;
		margin: 0 auto;
		border-bottom: 1px solid brown;
	}
	.cus_mn{
		width: 250px;
		height: 110px;
		background-color: #decac5;
		padding-top: 20px;
		margin: 0 auto;
		border-bottom: 1px solid brown;
	}
	.order_mn{
		width: 250px;
		height: 110px;
		background-color: #decac5;
		padding-top: 20px;
		margin: 0 auto;
		border-bottom: 1px solid brown;
	}
	.sal_mn{
		width: 250px;
		height: 100%;
		background-color: #decac5;
		padding-top: 20px;
		margin: 0 auto;
		border-bottom: 1px solid brown;
	}
	.status{
		text-align: right;
  		float: right;
  		width: 1500px;
  		height: 100px;
  		margin-top:10px;
  		margin-right:10px;

	}
	.menu_md{
		width: 1400px;
		height: 810px;
		float: right;
		position: relative;
		overflow: auto;
		margin-right: 100px;
		
	}

	#menu_class{
		width: 1400px;
		position: relative;
		margin-top:10px;
		text-align: center;
	}
	#menu_class > button{
		display: inline;
		background-color: white;
		color: black;
		border: 2px solid black;
		margin-right: 100px;
		width: 200px;
		height: 60px;
		border-radius: 10px;	
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 40px;
	}
	#menu_class > button:hover {
  		background-color: black;
 	    color: white;
 	    border: 2px solid white;
  }
	#menu_class > #coffee{
		background-color: black;
		color: white;
		border: 2px solid white;
	}
	#menu_img{
		max-width: 100%;
		max-height: 100%;
	}
	.menu_img{
		width: 80%;
		float: left;
		padding-left: 20px;
	}
	.menu_img div{
		float: left;
		width: 240px;
		height: 350px;	
		text-align: center;
		margin-left: 30px;

	}
	
	h1 { letter-spacing: 5px;}
	