<
style>html {
	background-color: #ebdacf;
	overflow: hidden;
}

.outer {
	width: 1885px;
	height: 980px;
	display: inline-block;
	background-color: white;
	margin-top: -9px;
}

.menu {
	position: fixed;
	float: left;
}

.menu_mn {
	width: 250px;
	height: 110px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-top: 1px solid brown;
	border-bottom: 1px solid brown;
}

.cou_mn {
	width: 250px;
	height: 110px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-bottom: 1px solid brown;
}

.status {
	text-align: right;
	float: right;
	width: 1500px;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
}

.menu_md {
	width: 50%;
	height: 810px;
	transform: translateX(30%);
	float: left;
	position: relative;
	overflow: auto;
	margin-right: 100px;
}

.menu_md div {
	text-align: center;
	padding: 5px;
	margin-top: 10px;
}
</
style
>