@charset "UTF-8";
	h1 { letter-spacing: 5px;}
	
	.outer{
	  margin: 0 auto;
      width: 1500px;
      height: 900px;
      display: inline-block;
  
      
	}
	.cus_add{
		width: 1400px;
		height: 810px;
		float: right;
		position: relative;
		overflow: hidden;

		
	}
    
    .cus_add > #logo_img{
        text-align: center;
    }
    
    .cus_add > .outer > .inner{
    border-radius: 10px;
    background-color: #decac5;
    margin: 0 auto;
    border: 1px solid #decac5;
    text-align: center;
    width: 600px;
   }

