@charset "EUC-KR";

@charset "EUC-KR";

@charset "EUC-KR";
html{
	overflow-y:hidden;
	}
	

	.menu_ade{
		width: 1400px;
		height: 810px;
		float: right;
		position: relative;
		overflow: auto;
		
	}

	#menu_class{
		width: 1400px;
		position: relative;
		margin-top:10px;
		text-align: center;
	}
	#menu_class > button{
		display: inline;
		background-color: white;
		color: black;
		border: 2px solid black;
		margin-right: 100px;
		width: 200px;
		height: 60px;
		border-radius: 10px;	
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 40px;
	}
	#menu_class > button:hover {
  		background-color: black;
 	    color: white;
 	    border: 2px solid white;
  }
	#menu_class > #ade{
		background-color: black;
		color: white;
		border: 2px solid white;
	}
	#menu_img{
		max-width: 100%;
		max-height: 100%;
	}
	.menu_img{
		width: 80%;
		float: left;
		padding-left: 20px;
	}
	.menu_img div{
		float: left;
		width: 240px;
		height: 350px;	
		text-align: center;
		margin-left: 30px;

	}
	
	h1 { letter-spacing: 5px;}
