@charset "EUC-KR";

<
style>html {
	background-color: #ebdacf;
	overflow: hidden;
}

.outer {
	width: 1885px;
	height: 980px;
	display: inline-block;
	background-color: white;
	margin-top: -9px;
}

.menu {
	position: fixed;
	float: left;
}

.menu_mn {
	width: 250px;
	height: 110px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-top: 1px solid brown;
	border-bottom: 1px solid brown;
}

.cou_mn {
	width: 250px;
	height: 110px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-bottom: 1px solid brown;
}

.staff_mn {
	width: 250px;
	height: 110px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-bottom: 1px solid brown;
}

.cus_mn {
	width: 250px;
	height: 110px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-bottom: 1px solid brown;
}

.order_mn {
	width: 250px;
	height: 110px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-bottom: 1px solid brown;
}

.sal_mn {
	width: 250px;
	height: 135px;
	background-color: #decac5;
	padding-top: 20px;
	margin: 0 auto;
	border-bottom: 1px solid brown;
}

.status {
	text-align: right;
	float: right;
	width: 1500px;
	height: 100px;
	margin-top: 10px;
	margin-right: 10px;
}

.menu_md {
	width: 50%;
	height: 810px;
	transform: translateX(30%);
	float: left;
	position: relative;
	overflow: auto;
	margin-right: 100px;
}

#menu_class {
	width: 100%;
	position: relative;
	margin-top: 10px;
	text-align: left;
}

#menu_class>button {
	display: inline;
	background-color: white;
	color: black;
	border: 2px solid black;
	margin-right: 10px;
	width: 200px;
	height: 60px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 40px;
}

#menu_class>button:hover {
	background-color: black;
	color: white;
	border: 2px solid white;
}

#menu_class>#side_menu {
	background-color: black;
	color: white;
	border: 2px solid white;
}

#menu_class {
	float: left;
}
/*-------------------------------------------------*/
.list_wrap {
	text-align: center;
	margin-top: 100px;
}

.list_wrap>div {
	float: left;
	margin: 10px;
	width: 200px;
	height: 250px;
}

.list_wrap img {
	width: 70%;
	height: 70%;
}
/*-------------------------------------------------*/
.list_wrap2 {
	text-align: center;
	margin-top: 100px;
}

.list_wrap2>div {
	float: left;
	margin: 10px;
	width: 200px;
	height: 250px;
}

.list_wrap2 img {
	width: 70%;
	height: 70%;
}
/*-------------------------------------------------*/
.menu_order {
	width: 30%;
	height: 80%;
	float: right;
}

#btn_j {
	border-radius: 5px;
	background-color: white;
	border: 2px solid black;
	transform: translateY(2500%);
}

.sum {
	transform: translateY(2400%);
}
</
style
>